<!-- Image and text -->

<div class="card">
    <app-weather-data></app-weather-data>

</div>
<div class="footer mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Contact Us</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fa fa-envelope conicon" aria-hidden="true "></i></h5>
                        <p class="card-text">vikasroy7321@gmail.com</p>
                        <a href="https://github.com/programmerVikas" target="_blank" class="btn btn-info">Connect with GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class=" card-title "><i class="fa fa-mobile conicon" aria-hidden="true "></i></h5>
                        <p class="card-text "><strong>(+91)</strong>-7563851608</p>
                        <a href="https://www.facebook.com/profile.php?id=100024435591010" target="_blank" class="btn btn-info">Connect with Fecebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark mb-1 ">
        <img src="{{logo}} " width="30 " height="30 " class="d-inline align-top " alt=" ">&nbsp;
        <p class="text-light d-inline " style="font-size: small; ">Developed By VIKAS KUMAR ROY</p>

    </div>


</div>